@use "/src/utilities/variables";

.box {
  width: 90%;
  height: 90%;
  margin: auto;
  border: 1px solid map-get(variables.$colors, "console_red_light");

  overflow-y: auto;

  text-align: center;
  font-size: 80%;

  animation: blinker 2s linear infinite;
}

$defPadding: 3%;

.def {
  width: 90%;
  margin: auto;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@keyframes blinker {
  50% {
    opacity: 0.7;
  }
}
