@use "/src/utilities/variables";

// Dimensions
$site-width: 96%;

.center {
  margin: auto;
  width: $site-width;
}

.top {
  font-size: 30px;
  font-weight: 600;
}

.bottom {
  height: 60px;
  border-bottom: 1px solid map-get(variables.$colors, "console_green_light");

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  display: flex;
  position: relative;
  height: 100%;
  width: 40vw;
  margin: auto;
  overflow: hidden;
  z-index: 1;
  &Scroll {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-start;
    white-space: nowrap;
    transition: all 1s ease;
    & > div {
      display: flex;
      animation: TextScroll 33s infinite linear;
    }
    p {
      margin: 0;
      transition: all 2s ease;
    }
  }
}

@keyframes TextScroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
