@use "/src/utilities/variables";

.overlay {
  width: 85%;
  height: calc(85vh - 180px);
  border: 1px solid map-get(variables.$colors, "console_red_light");
  margin: auto;

  position: absolute;
  inset: 0;

  background-color: map-get(variables.$colors, "bg_color");
  z-index: 1;
  box-sizing: border-box;
}

$title-bar-height: 10%;

.titleBar {
  width: 100%;
  height: $title-bar-height;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;

  border-bottom: 1px solid map-get(variables.$colors, "console_red_light");
}

$barcode-height: 50%;
.barcode {
  height: $barcode-height !important;
  width: 20%;
  margin-left: 5%;
}

.title {
  height: $barcode-height;
  width: 40%;
  margin-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;

  font-weight: 600;
  font-size: 3vmin !important;

  color: map-get(variables.$colors, "console_red_light");
  text-shadow: 0px 5px 10px
    rgba(map-get(variables.$colors, "console_red_light"), 40%);
}
@media only screen and (min-width: 800px) {
  .title {
    font-size: 40px;
  }
}

.close {
  width: 50px;
  height: 100%;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  color: map-get(variables.$colors, "console_red_light");
  opacity: 1;
}
.close:hover {
  color: map-get(variables.$colors, "console_green_light");
}

//content
.contentParent {
  width: 100%;
  height: calc(100% - $title-bar-height);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background: rgb(27, 14, 30);
  background: linear-gradient(
    0deg,
    rgba(27, 14, 30, 1) 0%,
    rgba(28, 14, 30, 1) 40%,
    rgba(53, 23, 34, 1) 80%,
    rgba(53, 23, 34, 1) 100%
  );
}

.content {
  width: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 3vmin;
}
@media only screen and (max-width: 500px) {
  .content {
    font-size: 2vmin;
  }
}
.contentImage {
  height: 15vw;
  margin: auto;

  border: 1px solid map-get(variables.$colors, "console_green_light");
  padding: 5px;
  object-fit: contain;
}

.contentText {
  margin: 5px;

  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 3vmin;
}

.bold {
  font-weight: 600;
  margin: 5px; // delete in the future
}

.focus {
  background: map-get(variables.$colors, "console_green_light");
  text-shadow: 0px 5px 10px
    rgba(map-get(variables.$colors, "console_green_light"), 40%);
  div {
    background: map-get(variables.$colors, "console_green_dark");
    color: map-get(variables.$colors, "console_green_light");
  }
}
