@use "/src/utilities/variables";

.header {
  width: 96%;
  height: 60px;
  display: block;
  flex-direction: column;
  margin: auto;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: map-get(variables.$colors, "bg_color");
  z-index: 10;
}

.dropdownItem {
  height: 60px;
  display: flex;
  border: 2px;
  border-bottom: 1px solid map-get(variables.$colors, "console_green_light");
  background-color: map-get(variables.$colors, "bg_color");
  margin-bottom: 10px;
  flex-direction: row;
  display: flex;
  margin: 0;
  font-size: 1rem;
}

.text {
  display: flex;
  width: 100%;
  justify-content: center;
}

.time {
  width: 100%;
  height: 100%;
  justify-content: left;
}
@media only screen and (max-width: 300px) {
  .time {
    display: none;
  }
  .text {
    justify-content: left;
  }
}

.menu {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
}

.dropdown {
  height: 0;
  overflow: hidden;
}

.dropdown.open {
  height: auto;
  width: 100%;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: map-get(variables.$colors, "console_green_light");
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
  background-color: map-get(variables.$colors, "console_red_light");
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
  background-color: map-get(variables.$colors, "console_red_light");
}
