@use "/src/utilities/variables";

$transformSkew: 20deg;

.parallelogram {
  margin: 30px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 35vw;
  transform: skewX($transformSkew);
  border: 2px solid map-get(variables.$colors, "console_green_light");
  animation: blinker 2s linear infinite;
  box-shadow: 0px 5px 10px
    rgba(map-get(variables.$colors, "console_green_light"), 40%);
  text-shadow: 0px 5px 10px
    rgba(map-get(variables.$colors, "console_green_light"), 40%);
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    box-shadow: 0px 15px 25px -5px rgba(map-get(variables.$colors, "console_green_light"), 40%);
    text-shadow: 0px 15px 25px -5px rgba(map-get(variables.$colors, "console_green_light"), 40%);
    transform: scale(1.05) skewX($transformSkew);
  }

  &:active {
    box-shadow: 0px 4px 8px
      rgba(map-get(variables.$colors, "console_green_light"), 40%);
    text-shadow: 0px 4px 8px
      rgba(map-get(variables.$colors, "console_green_light"), 40%);
    transform: scale(0.98) skewX($transformSkew);
  }
}

.def {
  width: 100%;
  transform: skewX(-$transformSkew);
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .def {
    font-size: 3vw;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.7;
  }
}
