@use "/src/utilities/variables";

$transformSkew: 20deg;
$parallelogramPadding: 10px;

.parallelogram {
  margin: auto;
  height: 10%;
  width: 80%;
  border: 1px solid map-get(variables.$colors, "console_green_light");

  display: flex;

  cursor: pointer;
  transform: skewX($transformSkew);
  animation: blinker 2s linear infinite;
  box-shadow: 0px 5px 10px
    rgba(map-get(variables.$colors, "console_green_light"), 40%);
  text-shadow: 0px 5px 10px
    rgba(map-get(variables.$colors, "console_green_light"), 40%);
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 15px 25px -5px rgba(map-get(variables.$colors, "console_green_light"), 40%);
    text-shadow: 0px 15px 25px -5px rgba(map-get(variables.$colors, "console_green_light"), 40%);
    transform: scale(1.05) skewX($transformSkew);
  }

  &:active {
    box-shadow: 0px 4px 8px
      rgba(map-get(variables.$colors, "console_green_light"), 40%);
    text-shadow: 0px 4px 8px
      rgba(map-get(variables.$colors, "console_green_light"), 40%);
    transform: scale(0.98) skewX($transformSkew);
  }
}

.def {
  margin: auto;
  transform: skewX(-$transformSkew);
}

@keyframes blinker {
  50% {
    opacity: 0.7;
  }
}
