@use "/src/utilities/variables";

.background {
  width: fit-content;
  padding: 2px;
  margin-right: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: map-get(variables.$colors, "console_red_dark");
  border: 1px solid map-get(variables.$colors, "console_red_light");
}

.dotBackground {
  background-color: map-get(variables.$colors, "bg_color");
  border: 1px solid map-get(variables.$colors, "console_red_light");
  height: 18px;
  width: 22px;
  margin: auto;
}

.dot {
  width: 6px;
  height: 6px;
  position: relative;
  top: 6px;
  margin: auto;
  animation: dotBlink 1s infinite linear alternate;
  animation-delay: 0.5s;

  border-radius: 10px;
  background-color: map-get(variables.$colors, "console_green_light");
  color: map-get(variables.$colors, "console_green_light");
}

.dot::before,
.dot::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: map-get(variables.$colors, "console_green_light");
  color: map-get(variables.$colors, "console_green_light");
}

.dot::before {
  left: -7px;
  animation: dotBlink 1s infinite alternate;
  animation-delay: 0s;
}

.dot::after {
  left: 7px;
  animation: dotBlink 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotBlink {
  0% {
    background-color: map-get(variables.$colors, "console_green_light");
  }
  50%,
  100% {
    background-color: map-get(variables.$colors, "console_red_dark");
  }
}

.text {
  margin: auto;

  font-weight: 600;
  color: map-get(variables.$colors, "console_red_light");
}
