@use "utilities/variables";

@font-face {
  font-family: "Oxanium";
  src: url(./fonts/Oxanium-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "Oxanium";
  src: url(./fonts/Oxanium-SemiBold.ttf);
  font-weight: 600;
}

html {
  font-family: "Oxanium";
  color: map-get(variables.$colors, "console_green_light");
  text-decoration: none;
}
a {
  color: map-get(variables.$colors, "console_green_light");
  text-decoration: none;
}
body {
  width: 96%;
  margin: auto;
  background-color: map-get(variables.$colors, "bg_color");
  font-size: 1rem;
}
